.body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

@media only screen and (min-width:480px){
    .title{
        padding: 54px 32px 0px 36.8px;
        display: flex;
    }
    .title .logo{
        margin-right: 12.8px;
        width: full;
    }
    .navbar-fixed{
        z-index: 99999;
    }
    .menu-icon{
        position: absolute;
        right: 36.8px;
        cursor: pointer;
    }
    .menu-icon .burger{
        position: absolute;
        right: 2px;
        cursor: pointer;
    }
    .menu-icon ul{
        visibility: hidden;
    }
    .menu-icon .btn{
        visibility: hidden;

    }
    .bg-mobile{
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .bg-mobile .hp{
        position: absolute;
        right: 0px;
        top: 0px;
        
    }
    .bg-mobile .tablet-hp{
        visibility: hidden;
    }
    .hero-content{
        padding: 47.8px 32px 0px 32px;
        display: flex;
        flex-direction: column;
    }
    .hero-content h1{
        font-size: 48px;
        font-weight: bold;
        line-height: 56px;
        vertical-align: top;
        float: left;
        letter-spacing: -0.5px;
    }
    .hero-content h5{
        font-size: small;
        font-size: 16px;
        line-height: 28px;
        float: left;
        vertical-align: top;
        color: #606060;
    }
    .hero-content .btn{
        width: 160px;
        height: 56px;
        background-color: #5468E7;
        color: white;
        fill: solid;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    .hero-content .scrolldown-content{
        visibility: hidden;
    }
    .wall{
        position: absolute;
        right: 0px;
        top: 448.77px;
        width: 1/2;
        
        /* height: 363.51px; */
    }
    .wall-big{
        visibility: hidden;
        overflow-x: hidden;
        width: 0px;
        height: 0px;
    }

    /* page two */
    .about{
        position: absolute;
        left: 0px;
        right: 0px;
        background-color: #232340;
        position: absolute;
        height: 1681px;
        top: 1050px;
        width: full;
    }
    .content-2{
        display: flex;
        flex-direction: column;
        padding: 64px 32px 0px 33px;
    }
    .title-2{
        display: flex;
        flex-direction: row;
    }
    .title-2 h5{
        margin-right: 28px;
        color: #ADADAD;
        font-size: 20px;
        line-height: 18px;
        margin-top: 27px;
    }
    .title-2 h4{
        font-size: 20px;
        font-weight: 600;
        line-height: 18px;
        /* font-weight: bold; */
        color: #FFFFFF;
    }
    .content-2 h1{
        font-size: 58px;
        line-height: 48px;
        letter-spacing: -0.4px;
        font-weight: 700;
        font-weight: bold;
        color: white;
    }
    .option{
        padding-top: 49px;
        display: flex;
        flex-direction: row;
    }
    .arrow-right {
        transform: rotate(180deg);
        margin-left: 44px;
        margin-right: 68px;
        /* width: 1/2; */
    }
    .image-2{
        position: absolute;
        width: 96vw;
        left: 0px;
        top: 580px;
    }
   
    .title-h3{
        position: absolute;
        top: 1150px;
        font-size: 32px;
        line-height: 32px;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: left;
    }
    
    .sub-h3{
        position: absolute;
        top: 1330px;
        font-size: 218x;
        line-height: 32px;
        color: #8B8B8B;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: left;
    }
    .contact-us{
        background-color: #5468E7;
        color: white;
        border-radius: 8px;
        width: 168px;
        height: 56px;
        border: none;
        position: absolute;
        top: 1510px;
    }
    .bg-number{
        position: absolute;
        top: 1680px;
        left: 0px;
        background-color: #232340;
        width: 96.5vw;
    }
    #bg-number{
        margin-left: 50px;
    }
     
}

@media only screen and (min-width:921px){
    .title{
        padding: 54px 32px 0px 36.8px;
        display: flex;
    }
    .title .logo{
        margin-right: 12.8px;
        width: full;
    }
    .menu-icon .burger{
        visibility: hidden;
    }
    .menu-icon ul{
        visibility: visible;
        list-style: none;
        display: flex;
        margin-right: 220px;
        margin-top: 6px;
    }
    .menu-icon li{
        margin-right: 50px; 
        font-size: 18px;
        line-height: 24px;
        align-items: center;
        vertical-align: top;
        font-weight: 600;
        cursor: pointer;
    }
    .menu-icon li a{
        text-decoration: none;
        color: black;
    }
    .menu-icon .btn{
        visibility: visible;
        position: absolute;
        top: -15px;
        right: 0px;
        width: 180px;
        height: 64px;
        border-radius: 8px;
        background-color: #232340;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    .bg-mobile{
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .bg-mobile .hp{
        visibility: hidden;
    }
    .bg-mobile .tablet-hp{
        visibility: visible;
    }
    .hero-content{
        padding: 47.8px 32px 0px 32px;
        display: flex;
        flex-direction: column;
    }
    .hero-content h1{
        font-size: 48px;
        font-weight: bold;
        line-height: 56px;
        vertical-align: top;
        float: left;
        letter-spacing: -0.5px;
    }
    .hero-content h5{
        font-size: small;
        font-size: 16px;
        line-height: 28px;
        float: left;
        vertical-align: top;
        color: #606060;
    }
    .hero-content .btn{
        width: 160px;
        height: 56px;
        background-color: #5468E7;
        color: white;
        fill: solid;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    .wall{
        position: absolute;
        right: 0px;
        top: 448.77px;
        width: 440px;
        /* height: 363.51px; */
    }
    .wall-big{
        visibility: hidden;
        overflow-x: hidden;
        width: 0px;
        height: 0px;
    }
    .hero-content .scrolldown-content{
        visibility: hidden;
    }
    
}

@media only screen and (min-width:1060px){
    .title{
        padding: 54px 32px 0px 36.8px;
        display: flex;
    }
    .title .logo{
        margin-right: 12.8px;
        width: full;
    }
    .menu-icon .burger{
        visibility: hidden;
    }
    .menu-icon ul{
        visibility: visible;
        list-style: none;
        display: flex;
        margin-right: 320px;
        margin-top: 6px;
    }
    .menu-icon li{
        margin-right: 50px; 
        font-size: 18px;
        line-height: 24px;
        align-items: center;
        vertical-align: top;
        font-weight: 600;
        cursor: pointer;
    }
    .menu-icon li a{
        text-decoration: none;
        color: black;
    }
    .menu-icon .btn{
        visibility: visible;
        position: absolute;
        top: -15px;
        right: 0px;
        width: 180px;
        height: 64px;
        border-radius: 8px;
        background-color: #232340;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    .bg-mobile{
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .bg-mobile .hp{
        visibility: hidden;
    }
    .bg-mobile .tablet-hp{
        visibility: visible;
    }
    .hero-content{
        padding: 47.8px 32px 0px 144px;
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .hero-content h1{
        font-size: 84px;
        font-weight: bold;
        line-height: 100%;
        vertical-align: top;
        float: left;
        letter-spacing: -0.5px;
    }
    .hero-content h5{
        font-size: 18px;
        line-height: 32px;
        align-items: left;
        font-weight: 400;
        vertical-align: top;
        color: #606060;
    }
    .hero-content .btn{
        width: 160px;
        height: 56px;
        background-color: #5468E7;
        color: white;
        fill: solid;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    .wall{
        position: absolute;
        right: 0px;
        top: 448.77px;
        width: 440px;
        /* height: 363.51px; */
    }
    .wall-big{
        visibility: hidden;
        overflow-x: hidden;
        width: 0px;
        height: 0px;
    }  
    .hero-content .scrolldown-content{
        visibility: hidden;
    }
}

@media only screen and (min-width:1200px){
    .title{
        padding: 54px 32px 0px 36.8px;
        display: flex;
    }
    .title .logo{
        margin-right: 12.8px;
        width: full;
    }
    .menu-icon .burger{
        visibility: hidden;
    }
    .menu-icon ul{
        visibility: visible;
        list-style: none;
        display: flex;
        margin-right: 420px;
        margin-top: 6px;
    }
    .menu-icon li{
        margin-right: 50px; 
        font-size: 18px;
        line-height: 24px;
        align-items: center;
        vertical-align: top;
        font-weight: 600;
        cursor: pointer;
    }
    .menu-icon li a{
        text-decoration: none;
        color: black;
    }
    .menu-icon .btn{
        visibility: visible;
        position: absolute;
        top: -15px;
        right: 0px;
        width: 180px;
        height: 64px;
        border-radius: 8px;
        background-color: #232340;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    .bg-mobile{
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .bg-mobile .hp{
        visibility: hidden;
    }
    .bg-mobile .tablet-hp{
        visibility: visible;
        position: absolute;
        right: 400px;
    }
    .hero-content{
        padding: 47.8px 32px 0px 144px;
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .hero-content h1{
        font-size: 84px;
        font-weight: bold;
        line-height: 100%;
        vertical-align: top;
        float: left;
        letter-spacing: -0.5px;
    }
    .hero-content h5{
        font-size: 18px;
        line-height: 32px;
        align-items: left;
        font-weight: 400;
        vertical-align: top;
        color: #606060;
    }
    .hero-content .btn{
        width: 160px;
        height: 56px;
        background-color: #5468E7;
        color: white;
        fill: solid;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    .wall{
        visibility: hidden;
    }      
    .wall-big{
        visibility: visible;
        position: absolute;
        right: 0px;
        top: 222px;
        width: auto;
        height: auto;
    }
    .hero-content .scrolldown-content{
        visibility: visible;
        display: flex;
        margin-top: 110px;
        cursor: pointer;
    }
    .hero-content .scrolldown-content .scroll{
        width: 50px;
        height: 50px;
    }
    .hero-content .scrolldown-content h5{
        margin: 12px 0px 0px 16px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: #8B8B8B;
    }
}

@media only screen and (min-width:1300px){
    .title{
        padding: 54px 32px 0px 36.8px;
        display: flex;
    }
    .title .logo{
        margin-right: 12.8px;
        width: full;
    }
    .menu-icon .burger{
        visibility: hidden;
    }
    .menu-icon ul{
        visibility: visible;
        list-style: none;
        display: flex;
        margin-right: 450px;
        margin-top: 6px;
    }
    .menu-icon li{
        margin-right: 50px; 
        font-size: 18px;
        line-height: 24px;
        align-items: center;
        vertical-align: top;
        font-weight: 600;
        cursor: pointer;
    }
    .menu-icon li a{
        text-decoration: none;
        color: black;
    }
    .menu-icon .btn{
        visibility: visible;
        position: absolute;
        top: -15px;
        right: 0px;
        width: 180px;
        height: 64px;
        border-radius: 8px;
        background-color: #232340;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    .bg-mobile{
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .bg-mobile .hp{
        visibility: hidden;
    }
    .bg-mobile .tablet-hp{
        visibility: visible;
        position: absolute;
        right: 400px;
    }
    .hero-content{
        padding: 47.8px 32px 0px 144px;
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .hero-content h1{
        font-size: 84px;
        font-weight: bold;
        line-height: 100%;
        vertical-align: top;
        float: left;
        letter-spacing: -0.5px;
    }
    .hero-content h5{
        font-size: 18px;
        line-height: 32px;
        align-items: left;
        font-weight: 400;
        vertical-align: top;
        color: #606060;
    }
    .hero-content .btn{
        width: 160px;
        height: 56px;
        background-color: #5468E7;
        color: white;
        fill: solid;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    .wall{
        visibility: hidden;
    }      
    .wall-big{
        visibility: visible;
        position: absolute;
        right: 50px;
        top: 222px;
        width: auto;
        height: auto;
    }
    .hero-content .scrolldown-content{
        visibility: visible;
        display: flex;
        margin-top: 110px;
        cursor: pointer;
    }
    .hero-content .scrolldown-content .scroll{
        width: 50px;
        height: 50px;
    }
    .hero-content .scrolldown-content h5{
        margin: 12px 0px 0px 16px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: #8B8B8B;
    }

}

@media only screen and (min-width:1400px){
    .title{
        padding: 54px 32px 0px 36.8px;
        display: flex;
    }
    .title .logo{
        margin-right: 12.8px;
        width: full;
    }
    .menu-icon .burger{
        visibility: hidden;
    }
    .menu-icon ul{
        visibility: visible;
        list-style: none;
        display: flex;
        margin-right: 490px;
        margin-top: 6px;
    }
    .menu-icon li{
        margin-right: 50px; 
        font-size: 18px;
        line-height: 24px;
        align-items: center;
        vertical-align: top;
        font-weight: 600;
        cursor: pointer;
    }
    .menu-icon li a{
        text-decoration: none;
        color: black;
    }
    .menu-icon .btn{
        visibility: visible;
        position: absolute;
        top: -15px;
        right: 0px;
        width: 180px;
        height: 64px;
        border-radius: 8px;
        background-color: #232340;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    .bg-mobile{
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .bg-mobile .hp{
        visibility: hidden;
    }
    .bg-mobile .tablet-hp{
        visibility: visible;
        position: absolute;
        right: 400px;
    }
    .hero-content{
        padding: 47.8px 32px 0px 144px;
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .hero-content h1{
        font-size: 84px;
        font-weight: bold;
        line-height: 100%;
        vertical-align: top;
        float: left;
        letter-spacing: -0.5px;
    }
    .hero-content h5{
        font-size: 18px;
        line-height: 32px;
        align-items: left;
        font-weight: 400;
        vertical-align: top;
        color: #606060;
    }
    .hero-content .btn{
        width: 160px;
        height: 56px;
        background-color: #5468E7;
        color: white;
        fill: solid;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    .wall{
        visibility: hidden;
    }      
    .wall-big{
        visibility: visible;
        position: absolute;
        right: 80px;
        top: 222px;
        width: auto;
        height: auto;
    }
    .hero-content .scrolldown-content{
        visibility: visible;
        display: flex;
        margin-top: 110px;
        cursor: pointer;
    }
    .hero-content .scrolldown-content .scroll{
        width: 50px;
        height: 50px;
    }
    .hero-content .scrolldown-content h5{
        margin: 12px 0px 0px 16px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: #8B8B8B;
    }

}

@media only screen and (min-width:1500px){
    .title{
        padding: 54px 32px 0px 36.8px;
        display: flex;
    }
    .title .logo{
        margin-right: 12.8px;
        width: full;
    }
    .menu-icon .burger{
        visibility: hidden;
    }
    .menu-icon ul{
        visibility: visible;
        list-style: none;
        display: flex;
        margin-right: 540px;
        margin-top: 6px;
    }
    .menu-icon li{
        margin-right: 50px; 
        font-size: 18px;
        line-height: 24px;
        align-items: center;
        vertical-align: top;
        font-weight: 600;
        cursor: pointer;
    }
    .menu-icon li a{
        text-decoration: none;
        color: black;
    }
    .menu-icon .btn{
        visibility: visible;
        position: absolute;
        top: -15px;
        right: 0px;
        width: 180px;
        height: 64px;
        border-radius: 8px;
        background-color: #232340;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    .bg-mobile{
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .bg-mobile .hp{
        visibility: hidden;
    }
    .bg-mobile .tablet-hp{
        visibility: visible;
        position: absolute;
        right: 400px;
    }
    .hero-content{
        padding: 47.8px 32px 0px 144px;
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .hero-content h1{
        font-size: 84px;
        font-weight: bold;
        line-height: 100%;
        vertical-align: top;
        float: left;
        letter-spacing: -0.5px;
    }
    .hero-content h5{
        font-size: 18px;
        line-height: 32px;
        align-items: left;
        font-weight: 400;
        vertical-align: top;
        color: #606060;
    }
    .hero-content .btn{
        width: 160px;
        height: 56px;
        background-color: #5468E7;
        color: white;
        fill: solid;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    .wall{
        visibility: hidden;
    }      
    .wall-big{
        visibility: visible;
        position: absolute;
        right: 100px;
        top: 222px;
        width: auto;
        height: auto;
    }
    .hero-content .scrolldown-content{
        visibility: visible;
        display: flex;
        margin-top: 110px;
        cursor: pointer;
    }
    .hero-content .scrolldown-content .scroll{
        width: 50px;
        height: 50px;
    }
    .hero-content .scrolldown-content h5{
        margin: 12px 0px 0px 16px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: #8B8B8B;
    }

}

@media only screen and (min-width:1600px){
    .title{
        padding: 54px 32px 0px 36.8px;
        display: flex;
    }
    .title .logo{
        margin-right: 12.8px;
        width: full;
    }
    .menu-icon .burger{
        visibility: hidden;
    }
    .menu-icon ul{
        visibility: visible;
        list-style: none;
        display: flex;
        justify-content: center; 
       margin-right: 700px;
        margin-top: 6px; 
        align-items: center;
        flex: 1;
    }
    .menu-icon li{
        margin-right: 50px; 
        font-size: 18px;
        line-height: 24px;
        align-items: center;
        vertical-align: top;
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;
    }
    .menu-icon li a{
        text-decoration: none;
        color: black;
    }
    .menu-icon .btn{
        visibility: visible;
        position: absolute;
        top: -15px;
        right: 0px;
        width: 180px;
        height: 64px;
        border-radius: 8px;
        background-color: #232340;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    .bg-mobile{
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .bg-mobile .hp{
        visibility: hidden;
    }
    .bg-mobile .tablet-hp{
        visibility: visible;
        position: absolute;
        right: 400px;
    }
    .hero-content{
        padding: 47.8px 32px 0px 144px;
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .hero-content h1{
        font-size: 84px;
        font-weight: bold;
        line-height: 100%;
        vertical-align: top;
        float: left;
        letter-spacing: -0.5px;
    }
    .hero-content h5{
        font-size: 18px;
        line-height: 32px;
        align-items: left;
        font-weight: 400;
        vertical-align: top;
        color: #606060;
    }
    .hero-content .btn{
        width: 160px;
        height: 56px;
        background-color: #5468E7;
        color: white;
        fill: solid;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    .wall{
        visibility: hidden;
    }      
    .wall-big{
        visibility: visible;
        position: absolute;
        right: 130px;
        top: 222px;
        width: auto;
        height: auto;
    }
    .hero-content .scrolldown-content{
        visibility: visible;
        display: flex;
        margin-top: 110px;
        cursor: pointer;
    }
    .hero-content .scrolldown-content .scroll{
        width: 50px;
        height: 50px;
    }
    .hero-content .scrolldown-content h5{
        margin: 12px 0px 0px 16px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: #8B8B8B;
    }

}